.advantages {
  padding-top: 68px;
  background-image: url("/samogon/assets/img/backgrounds/advantages-background.png");
  background-size: cover;
  color: #fff;
  min-height: 965px;
}
.advantages__container {
  display: flex;
  flex-direction: column;
}
.advantages__title {
  font-size: 60px;
  line-height: 60px;
  text-transform: uppercase;
  padding-bottom: 70px;
}
.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 400px);
  column-gap: 140px;
  align-self: center;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
}
.advantages__item-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #cc3333;
}
.advantages__item--low-prices {
  grid-row: 1/span 2;
  grid-column: 2;
  align-self: center;
  justify-self: center;
}
.advantages__item-image {
  padding-top: 25px;
  padding-bottom: 50px;
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  justify-self: center;
  text-align: center;
  margin: auto;
}
.advantages__item-image.national {
  background-image: url("/samogon/assets/img/advantages/national.png");
}
.advantages__item-image.low-prices {
  background-image: url("/samogon/assets/img/advantages/economical.png");
}
.advantages__item-image.ecological {
  background-image: url("/samogon/assets/img/advantages/ecological.png");
}
.advantages__item-image.fast-delivery {
  background-image: url("/samogon/assets/img/advantages/fast_delivery.png");
}
.advantages__item-image.large-selection {
  background-image: url("/samogon/assets/img/advantages/large_selection.png");
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
  .advantages {
    height: 1300px;
  }
  .advantages__title {
    padding-bottom: 50px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: initial;
    column-gap: 140px;
    row-gap: 40px;
  }
  .advantages__item--low-prices {
    grid-row: 2;
    grid-column: 1/span 2;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .advantages {
    padding-top: 30px;
    min-height: 2000px;
  }
  .advantages__title {
    padding-bottom: 30px;
    font-size: 40px;
    text-align: center;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: initial;
    column-gap: 140px;
    row-gap: 40px;
  }
  .advantages__item {
    grid-column: initial;
  }
  .advantages__item--low-prices {
    grid-row: 2;
    grid-column: 1;
  }
  .advantages__item-image {
    padding-top: 25px;
    padding-bottom: 50px;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    justify-self: center;
    text-align: center;
    margin: auto;
  }
}

/*# sourceMappingURL=advantages.css.map */
