.main-footer {
  margin: 0;
  padding: 0;
  height: 190px;
  padding-top: 20px;
  padding-bottom: 15px;
  background: #fff;
  box-shadow: 0px -5px 20px 0px rgba(171, 171, 171, 0.2);
}
.main-footer__logo {
  grid-row: 1/span 2;
}
.main-footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 30px 50px 70px;
  row-gap: 10px;
  column-gap: 35px;
}
.main-footer__navigation {
  grid-column: 3/span 2;
}
.main-footer__navigation-list {
  display: flex;
  justify-content: space-between;
}
.main-footer__navigation-item a {
  font-style: italic;
}
.main-footer__navigation-item:hover a {
  color: #d34e4e;
  border-bottom: 1px solid #d34e4e;
}
.main-footer__social {
  display: flex;
  align-items: center;
  justify-self: start;
  column-gap: 20px;
  grid-row: 2;
  grid-column: 3;
}
.main-footer__social-item a {
  width: 40px;
  height: 40px;
}
.main-footer__social-item a:before {
  content: "";
  display: block;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.main-footer__social-item.whatsapp a:before {
  background-image: url("/samogon/assets/img/social/WhatsApp.png");
}
.main-footer__social-item.whatsapp a:hover:before {
  background-image: url("/samogon/assets/img/social/WhatsApp-hover.png");
}
.main-footer__social-item.instagram a:before {
  background-image: url("/samogon/assets/img/social/Instagram.png");
}
.main-footer__social-item.instagram a:hover:before {
  background-image: url("/samogon/assets/img/social/Instagram-hover.png");
}
.main-footer__contacts {
  grid-row: 2/span 2;
  grid-column: 4;
  padding-top: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.main-footer__contacts-item {
  position: relative;
}
.main-footer__contacts-item:hover a {
  color: #d34e4e;
}
.main-footer__contacts-item::before {
  position: absolute;
  top: 0;
  left: -50px;
  content: "";
  display: block;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
}
.main-footer__contacts-item.tel::before {
  background-image: url("/samogon/assets/img/icons/tel.png");
  width: 28px;
  height: 29px;
  left: -45px;
}
.main-footer__contacts-item.mail::before {
  background-image: url("/samogon/assets/img/icons/mail.png");
  width: 36px;
  height: 23px;
  top: 2px;
}
.main-footer__copyright {
  grid-row: 3;
  grid-column: 1;
  font-size: 20px;
  line-height: 20px;
  font-style: italic;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
  .main-footer {
    height: 450px;
    width: 100%;
  }
  .main-footer__logo {
    justify-self: center;
    width: 630px;
    grid-row: initial;
  }
  .main-footer__logo img {
    width: 100%;
  }
  .main-footer__container {
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 100px repeat(3, 60px) 100px;
    justify-content: center;
    align-items: center;
    column-gap: 0;
    row-gap: 10px;
  }
  .main-footer__navigation {
    grid-column: initial;
    grid-row: 2;
  }
  .main-footer__navigation-list {
    justify-content: space-around;
  }
  .main-footer__social {
    margin-top: 15px;
    grid-column: initial;
    grid-row: 3;
    justify-self: center;
  }
  .main-footer__contacts {
    grid-row: 4;
    grid-column: 1;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
  }
  .main-footer__copyright {
    grid-row: 5;
    grid-column: 1;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .main-footer {
    padding-top: 10px;
    height: 400px;
    width: 100%;
  }
  .main-footer__logo {
    padding-top: 15px;
    justify-self: center;
    width: 300px;
    grid-row: initial;
    object-fit: contain;
  }
  .main-footer__logo img {
    width: 100%;
  }
  .main-footer__container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px repeat(4, 50px) 90px;
    justify-content: center;
    align-items: center;
    column-gap: 0;
    row-gap: 10px;
  }
  .main-footer__navigation {
    display: grid;
    justify-content: center;
    grid-column: initial;
    grid-row: 2;
  }
  .main-footer__navigation-list {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 30px 30px;
    column-gap: 50px;
  }
  .main-footer__navigation-list {
    justify-content: space-around;
  }
  .main-footer__social {
    margin-top: 15px;
    grid-column: initial;
    grid-row: 5;
    justify-self: center;
    align-items: start;
    margin: 0;
  }
  .main-footer__contacts {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    grid-row: 3/span 2;
    grid-column: 1;
    padding-left: 70px;
    padding-top: 0;
  }
  .main-footer__copyright {
    font-size: 16px;
    grid-row: 6;
    grid-column: 1;
  }
}

/*# sourceMappingURL=footer.css.map */
