/* ! HEADER */
.main-header {
  margin: 0;
  padding: 0;
  min-height: 136px;
  padding-top: 20px;
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgba(171, 171, 171, 0.2);
}
.main-header__logo {
  padding-top: 30px;
  grid-row: 1/span 2;
}
.main-header__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px 50px;
  column-gap: 35px;
}
.main-header .ui-widget {
  position: relative;
}
.main-header .ui-autocomplete-input {
  font-family: "Gotham Pro" !important;
  width: 350px;
  height: 55px;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  padding-left: 20px;
  background-color: #dcdcdc;
  font-size: 18px;
  line-height: 10px;
  font-weight: 400;
  font-style: italic;
}
.main-header__search-input:focus {
  background-color: #fff;
  outline: none;
  border: 2px solid black;
}
.main-header__submit-button {
  position: absolute;
  right: 25px;
  top: 15px;
  width: 26px;
  height: 25px;
  background-image: url("/samogon/assets/img/icons/search.png");
  background-size: contain;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}
.main-header__navigation {
  grid-column: 3/span 2;
}
.main-header__navigation-list {
  display: flex;
  justify-content: space-around;
}
.main-header__navigation-list {
  display: flex;
  justify-content: space-around;
}
.main-header__navigation-item a {
  font-style: italic;
}
.main-header__navigation-item:hover a:not(.disabled) {
  color: #d34e4e;
  border-bottom: 1px solid #d34e4e;
}
.main-header__social {
  display: flex;
  align-items: center;
  justify-self: end;
  column-gap: 20px;
  grid-row: 2;
  grid-column: 3/span 2;
}
.main-header__social-item a {
  width: 40px;
  height: 40px;
}
.main-header__social-item:hover a {
  color: #d34e4e;
}
.main-header__social-item a:before {
  content: "";
  display: block;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.main-header__social-item.tel a::before {
  height: 0px;
  width: 0px;
}
.main-header__social-item.whatsapp a:before {
  background-image: url("/samogon/assets/img/social/WhatsApp.png");
}
.main-header__social-item.whatsapp a:hover:before {
  background-image: url("/samogon/assets/img/social/WhatsApp-hover.png");
}
.main-header__social-item.instagram a:before {
  background-image: url("/samogon/assets/img/social/Instagram.png");
}
.main-header__social-item.instagram a:hover:before {
  background-image: url("/samogon/assets/img/social/Instagram-hover.png");
}

ul.ui-autocomplete {
  width: 322px !important;
  border-radius: 10px 10px 0px 0px !important;
  border: 1px solid #000000 !important;
  font-family: "Gotham Pro" !important;
  font-size: 16px !important;
  line-height: 10px !important;
  font-weight: 700 !important;
  font-style: italic !important;
}

ul.ui-autocomplete li:not(:last-child) {
  border-bottom: 1px solid #000000;
}

ul.ui-autocomplete li {
  width: 322px;
  height: 40px;
  display: flex;
  align-items: center;
}

ul.ui-autocomplete li a {
  width: 322px;
  height: 100%;
  display: flex;
  align-items: center;
}

ul.ui-autocomplete li:first-child a {
  border-radius: 10px 10px 0px 0px !important;
}

ul.ui-autocomplete li:first-child div {
  border-radius: 10px 10px 0px 0px !important;
}

ul.ui-autocomplete li:hover div {
  background-color: #cccccc;
  border-color: black !important;
  color: black !important;
}

ul.ui-autocomplete li:active div {
  background-color: #cccccc !important;
  border-color: black !important;
  color: black !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border-color: black !important;
  background: #cccccc;
  color: black !important;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1300px) and (-webkit-min-device-pixel-ratio: 1) {
  .main-header {
    height: 350px;
    width: 100%;
  }
  .main-header__logo {
    justify-self: center;
    width: 630px;
    grid-row: initial;
  }
  .main-header__logo img {
    width: 100%;
  }
  .main-header__container {
    display: grid;
    grid-template-columns: 700px;
    grid-template-rows: 100px repeat(3, 60px);
    justify-content: center;
    align-items: center;
    column-gap: 0;
    row-gap: 10px;
  }
  .main-header__navigation {
    grid-column: initial;
    grid-row: 2;
  }
  .main-header__social {
    margin-top: 15px;
    grid-column: initial;
    grid-row: 4;
    justify-self: center;
  }
  .main-header__search {
    justify-self: center;
    grid-row: 3;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .main-header {
    padding-top: 10px;
    height: 350px;
    width: 100%;
  }
  .main-header__logo {
    padding-top: 15px;
    justify-self: center;
    width: 300px;
    grid-row: initial;
    object-fit: contain;
  }
  .main-header__logo img {
    width: 100%;
  }
  .main-header__container {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px repeat(3, 60px);
    justify-content: center;
    align-items: center;
    column-gap: 0;
    row-gap: 10px;
  }
  .main-header__navigation {
    display: grid;
    justify-content: center;
    grid-column: initial;
    grid-row: 2;
  }
  .main-header__navigation-list {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: 30px 30px;
    column-gap: 50px;
  }
  .main-header__social {
    margin-top: 15px;
    grid-column: initial;
    grid-row: 4;
    justify-self: center;
  }
  .main-header__search {
    justify-self: center;
    grid-row: 3;
    width: 280px;
  }
  .main-header__search-input {
    width: 280px !important;
  }
}

/*# sourceMappingURL=header.css.map */
